
.formfield {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 3px;
}

input {
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    font-size: 21px;
}

.header{
    font-family:  Arial, sans-serif;


}
.mainheader{
    text-align: center;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 80px 10px;
    cursor: pointer;
}
